
@import 'partials/fonts';
@import 'partials/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 5px;
    font-size: 18px;
    font-family: $font;
    color: $red;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: ease .6s;
    &:hover {
        background-color: $red;
        color: $white;
        border-radius: 15px;
    }
}

.game {
    background-color: #fff999;
    font-family: $font;
    height: 100vh;
}

.score-board {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    p {
        text-align: center;
        padding: 15px 0;
        color:$red;
        font-size: 36px;
    }
}

.intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h1{
        font-size: 72px;
        font-weight: bold 700;
        text-align: center;
    }
}

.battlefield {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.game-result {
    text-align: center;
    font-size: 48px;
}

.selected-weapon, .weapons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weapons {
    .btn:nth-of-type(2){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.selected-weapon {
    height: 35vh;
    font-size: 150px;
}

.computer-weapon {
    transform: rotateY(180deg);
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: all;
}

